@import "../../variables";

.inputComponent {
  font-family: "CormorantInfant";
  font-size: 18px;
  width: 100%;
  padding: 15px;
  border: 1px solid $border-color;
  outline: none;
  box-sizing: border-box;
  &:focus {
    border: 1px solid $border-color;
  }
}