@import "../../variables";

.button {
  font-size: 14px;
  background-color: $secondary-color;
  padding: 10px;
  border: 1px solid $border-color;
  cursor: pointer;
  min-width: 100px;
  &:active {
    background-color: $border-color;
  }
}