@import "../../variables";

.button.ant-btn-primary {
  font-family: "CormorantInfant";
  font-size: 18px;
  background: $main-color;
  color: white;
  padding: 5px 10px;
  border: 1px solid $border-color;
  cursor: pointer;
  min-width: 100px;

  &:hover {
    background-color: $active-color !important;
  }

  &:active {
    background-color: $main-color !important;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    &:hover {
      background-color: $main-color !important;
    }
  }

  &.ant-btn {
    height: auto;
  }
}