@import "../../variables";

.title {
  font-size: 24px;
  text-align: left;
  margin: 20px 0;
}

.mainContent {
  display: flex;
  .listContainer {
    max-width: 400px;
  }
}

.dialogContainer {
  padding: 20px;
}