@import "../../variables";

.mainContent {
  display: flex;
  height: calc(100% - 80px);
  .listContainer {
    max-width: 400px;
    min-width: 310px;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
  }
}

.errorConnection {
  font-size: 24px;
  padding: 20px;
}

.dialogContainer {
  width: 100%;

  .noArticle {
    font-size: 24px;
    padding: 20px;
  }

  &.visible {
    display: block;
  }
}

@media (max-width: 780px) {
  .mainContent {
    width: 100%;
    
    .dialogContainer {
      display: block
    }

    .listContainer {
      display: none;
    }

    .listContainer {
      width: 100%;
      max-width: 100%;
    }

    &.visible {
      .dialogContainer {
        display: none;
      }

      .listContainer {
        display: block;
      }
    }
  }
}