@import "../../variables";

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid $border-color;
  padding: 15px;
  cursor: pointer;
  max-width: 100%;
  position: relative;

  &.selected {
    background-color: $secondary-color;
  }

  &:hover {
    background-color: $secondary-color;
  }

  .ant-avatar {
    background-color: $user-color;
  }

  .details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    .name {
      font-weight: 600;
      text-align: left;
    }

    .time {
      font-size: 14px;
    }
  }
}