@import "../../variables";

.dialogWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 20px;
  padding-bottom: 80px;
  box-sizing: border-box;

  .header {
    background-color: $secondary-color;
    display: none;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .anticon {
      cursor: pointer;
    }

    .name {
      font-size: 20px;
      margin-left: 15px;
    }
  }

  .massagesWrapper {
    text-align: left;
    width: 100%;
    overflow-y: scroll;
    
    .message {
      margin-bottom: 10px;
      padding: 7px;
      border: 1px solid $border-color;
      border-radius: 7px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .ant-avatar {
        background-color: $user-secondary-color;
      }

      .messageText {
        margin-left: 10px;
        position: relative;

        .time {
          font-weight: 400;
          font-size: 14px;
          position: absolute;
          right: 0;
          bottom: -10px;
          transform: translateX(100%);
        }

        .reference {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }

    .date {
      font-size: 15px;
      text-align: center;
      margin-bottom: 10px;

      span {
        background-color: $date-bg-color;
        border-radius: 14px;
        padding: 2px 8px;
      }
    }

    .adminMessage {
      background-color: $secondary-color;
      font-weight: 600;

      .ant-avatar {
        background-color: $main-color;
      }
    }
  }

  .formWrapper {
    display: flex;
    width: 100%;
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;

    .ant-form-item {
      margin-bottom: 0;

      &:first-child {
        width: 100%;
      }
    }

    .ant-form-item-label {
      display: none;
    }

    .ant-form-item-control input {
      font-family: "CormorantInfant";
      font-size: 18px;
      width: 100%;
      border: 1px solid $border-color;
      outline: none;
      box-sizing: border-box;
      border-radius: 0;
      &:focus {
        border: 1px solid $border-color;
      }
    }
  }
}

@media (max-width: 780px) {
  .dialogWrapper {
    padding-top: 75px;

    .header {
      display: flex;
    }
  }
}