@import "./variables";

.content {
  height: 100vh;

  header {
    font-family: "CormorantInfantBold";
    background-color: $main-color;
    font-size: 32px;
    height: 80px;
    color: white;
    text-align: left;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    position: relative;

    .anticon-logout {
      color: $border-color;
      font-size: 24px;
      position: absolute;
      right: 20px;
      bottom: 50%;
      transform: translateY(50%);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $border-color; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $text-grey-color; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-color; 
}