@import "./variables";

header {
  font-family: "CormorantInfantBold";
  background-color: $header-bg-color;
  font-size: 32px;
  color: white;
  text-align: left;
  padding: 20px;
  text-align: center;
}


