@import url("./assets/fonts/fonts.css");

body {
  margin: 0;
  font-size: 18px;
  font-family: "CormorantInfant", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

code {
  font-family: "CormorantInfant", source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}
